//variables
$white: rgb(238, 232, 248);
$yellow: #fdda78;
$black: black;
$mainFont: "Gentium Book Basic", serif;

@mixin cursiveFont {
  font-family: "Parisienne", cursive;
  letter-spacing: 3px;
  font-size: 50px;
}

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}
//global
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $mainFont;
  font-size: 20px;
  text-align: center;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    to top,
    #515670 0%,
    #7a7878 30%,
    /*bot*/ #202020 40%,
    #131316 100% /*top*/
  );
  color: $white;
}
//general
h2 {
  color: $yellow;
  letter-spacing: 3.5px;
  border-top: 1px solid $white;
  width: 100%;
  padding: 20px;
  @include cursiveFont;
}
p {
  color: $white;
  line-height: 30px;
}
a,
a:visited {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: $yellow;
}
.section {
  min-height: 360px;
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 100px;
}
li {
  display: inline;
  padding: 10px;
}
ul {
  padding: 0px 10px;
}

//nav
nav {
  position: fixed;
  top: 0px;
  @include center-children;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
  background-image: linear-gradient(
    to top,
    #fdda78 0%,
    #ffffff 15%,
    #ffffff 100%
  );
  z-index: 10;
}
.logo p {
  color: $black;
  @include cursiveFont;
}
.socials img {
  filter: invert(100%);
}
.socials {
  margin-left: 50px;
}
.ban-img {
  width: 90vw;
  height: 500px;
  background-size: 100% 100%;
  position: absolute;
  display: block;
}
#ban-img1 {
  background-image: url("2.jpeg");
}
#ban-img2 {
  background-image: url("6.jpeg");
}
#ban-img3 {
  background-image: url("7.jpeg");
}
.ban-active {
  display: block;
}
//mobile nav
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px;
  transition: all 0.3s ease;
}
.nav-active {
  z-index: 10;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 3px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -3px);
}
//contact
#contact-section {
  @include center-children;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  ul {
    padding-bottom: 30%;
  }
  li {
    display: block;
  }
  a,
  a:visited {
    color: $white;
    font-weight: 100;
    font-size: 30px;
  }
  a:hover {
    color: $yellow;
  }
}
//about me

//gallery
#gallery-section {
  display: flex;
  flex-direction: column;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  img {
    width: 300px;
    height: 250px;
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
  }
}
//modal
#modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.507);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}
#display {
  width: 90%;
  height: 93%;
  background-image: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#modal p {
  position: absolute;
  top: 4vh;
  right: 2vw;
  display: block;
}
.modal {
  visibility: hidden;
}
.modalActive {
  visibility: visible;
}
.imgbtn {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  opacity: 0.6;
  cursor: pointer;
}
.imgbtn:hover {
  opacity: 0.9;
}
#imgbtn-prev {
  left: 1.5vw;
  background-image: url(left-arrow.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
#imgbtn-next {
  right: 1.5vw;
  background-image: url("right-arrow.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
//samples
#samples {
  .dishes {
    height: 200px;
    @include center-children();
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5);

    border-top: solid 1px $white;
  }
  img {
    height: 200px;
    width: 250px;
  }
  h3 {
    font-size: 30px;
    padding: 20px;
  }
  #dish-reverse {
    display: none;
  }
  #dish-normal {
    display: block;
  }
}
//carousel
.slider {
  height: 450px;
}

/*to Top*/
#toTop {
  position: fixed;
  right: 10px;
  bottom: 0px;
  padding: 10px 20px;
  background-color: $white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: none;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
  .section {
    padding-top: 50px;
  }
  #banner-section {
    padding-top: 100px;
  }
  nav {
    height: 50px;
    .socials {
      margin-left: 0px;
      ul {
        li {
          display: inline;
          padding: 5px;
        }
      }
    }
    .logo {
      p {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .nav-links {
      //responsive menu on burger
      position: absolute;
      right: 1px;
      height: 90vh;
      top: 60px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      transform: translatex(100%);
      transition: transform 0.5s ease-in;
    }
    .burger {
      display: block;
      margin-right: 10px;
    }
  }
  .slider {
    height: 330px;
    .ban-img {
      height: 250px;
    }
  }
  #samples {
    .dishes {
      height: initial;
      flex-direction: column;
      padding-bottom: 5px;
      img {
        width: 100%;
      }
    }
    #dish-reverse {
      display: block;
    }
    #dish-normal {
      display: none;
    }
  }
  #contact-section {
    min-height: 100px;
    a {
      font-size: 20px;
    }
  }
  #about-container {
    font-size: 18px;
  }
}
